@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
.ig
  h2
    font-size 24px
    color ColorHeading
    margin 12px 0px
  .senat
    width 610px
    height 173px
    position relative
    .mandat
      position absolute
      width 26px
      height 26px
      border-radius 3px
      background yellow
      transition background-color 0.4s, opacity 0.2s
      &:hover
          opacity 0.5
          cursor help
      .border
        position absolute
        width 100%
        top 0px
        left 0px
        bottom 0px
        border 1px solid black
        opacity 0.2
        border-radius @border-radius
  .slider
    position relative
    margin-left 10px
    width 590px
    height 70px
    padding-top 30px
    cursor pointer
    .hline
      position absolute
      top (@padding-top - 6px)
      left 0px
      width 100%
      height 6px
      border 1px solid black
      border-radius 2px
    .tick
      width 100px
      margin-left -50px
      position absolute
      padding-top 9px
      .line
        position absolute
        left 50%
        top 0px
        width 1px
        background black
        height 8px
      .year
        width 100%
        text-align center
        cursor pointer
      &:first-child .year
        position absolute
        left 50px
        text-align left

      &.small
        .year
          display none
    .selection
      position absolute
      top 18px
      width 20px
      height 20px
      border 1px solid black
      background ColorHeading
      opacity 0.9
      margin-left (@width / (-2))
      &:hover
        opacity 1
  .buttons
    position relative
    width 610px
    button
      border 1px solid darken(ColorHeading, 20%)
      background ColorHeading
      color white
      position absolute
      width 60px
      margin-left -60px
      left 50%
      padding 4px 0px
      top 0px
      &.next
        margin-left 1px
      &:hover
        background lighten(ColorHeading, 20%)
      &:active
        background lighten(ColorHeading, 40%)

